---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";
import Hero from "../components/home/Hero.astro";
import Stats from "../components/home/Stats.astro";
import EventList from "../components/home/EventList.astro";
import RouteList from "../components/home/RouteList.astro";
import FAQ from "../components/home/FAQ.astro";
import Journal from "../components/home/Journal.astro";
---

<Layout>
    <Navbar />
    <main>
        <Hero />
        <Stats />
        <EventList />
        <RouteList />
        <FAQ />
        <Journal />
    </main>
    <Footer />
</Layout>
